# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# Logs
*.log
streamlit.log

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Workspace
workspace/
